.BtnFavorite{
    display: flex;
    flex-direction: row;
    
    gap: 8px;

    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;

    cursor: pointer;
}

.green{
    color: var(--favorite-color-green);
}

.purple{
    color: var(--main-color);
}